#allUsers .tableHead {
  float: left;
  height: 45px;
  width: 1180px;
  cursor: pointer;
}
#allUsers .changeUserType {
  float: left;
}
#allUsers .titleRowElement {
  float: left;
  font-weight: bold;
  height: 100%;
  border-bottom: solid 1px black;
  padding-top: 10px;
  font-size: 12px;
}
#allUsers .innerRow {
  float: left;
  width: 95%;
  cursor: pointer;
  margin-left: 5%;
  min-height: 30px;
}
#allUsers .odd {
  background-color: #F5F5F5;
}
#allUsers .row {
  float: left;
  min-height: 30px;
  width: 100%;
  cursor: pointer;
}
#allUsers .rowElement {
  float: left;
  min-height: 30px;
}
#allUsers .rowText {
  margin-top: 5px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: inherit;
  font-size: 12px;
}
#allUsers .tableText {
  font-weight: bold;
}
#comingSoon .content {
  width: 1000px;
}
#dealershipManager .tableHead {
  float: left;
  height: 45px;
  width: 1180px;
  cursor: pointer;
}
#dealershipManager .tableBody {
  float: left;
  min-height: 100px;
}
#dealershipManager .newDealershipRow {
  float: left;
}
#dealershipManager .notesRow {
  width: 100%;
  min-height: 40px;
  float: left;
  background-color: #E7E7E7;
}
#dealershipManager .titleRowElement {
  float: left;
  font-weight: bold;
  height: 100%;
  border-bottom: solid 1px black;
  padding-top: 10px;
  font-size: 12px;
}
#dealershipManager .innerRow {
  float: left;
  width: 95%;
  cursor: pointer;
  margin-left: 5%;
  min-height: 30px;
}
#dealershipManager .odd {
  background-color: #F5F5F5;
}
#dealershipManager .row {
  float: left;
  min-height: 30px;
  width: 100%;
  cursor: pointer;
}
#dealershipManager .rowElement {
  float: left;
  min-height: 30px;
}
#dealershipManager .rowText {
  margin-top: 5px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: inherit;
  font-size: 12px;
}
#dealershipManager .tableText {
  font-weight: bold;
}
.faq {
  margin: 10px 0px 10px 0px;
  background-color: lightgrey;
  min-height: 100px;
  width: 75%;
}
.faqQuestion {
  font-size: 22px;
  float: left;
  margin: 10px;
  width: 100%;
}
.faqAnswer {
  margin: 12px;
  font-size: 18px;
  float: left;
}
#loading {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.viewBox {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background: white;
}
.topBarContainer {
  background: #006699;
  height: 81px;
  width: 100%;
  border-bottom: solid #dbcda1 1px;
  min-width: 1200px;
}
.subTopBarContainer {
  width: 75%;
  height: 40px;
  float: left;
}
.topBarCompanyName {
  color: white;
  text-align: center;
  font-size: 40px;
  height: 30px;
  padding-top: 10px;
  background: #006699;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.companyName {
  color: white;
}
.topBar {
  height: 80px;
  width: 1200px;
  background: #006699;
  margin-left: auto;
  margin-right: auto;
}
.logOutContainer {
  position: absolute;
  top: 20px;
  right: 180px;
}
.userName,
.logOut {
  margin-right: 00px;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  display: block;
  height: 20px;
  width: 260px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.logOutContainer .logOut {
  cursor: pointer;
}
.navOption {
  background-color: white;
  cursor: pointer;
  height: 40px;
  float: left;
  min-width: 100px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  margin: 42px 10px 0px 10px;
}
.subNavOption {
  background-color: #f5f5ff;
  cursor: pointer;
  height: 40px;
  float: right;
  min-width: 100px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}
.navOptionText {
  margin: 8px 5px 0px 5px;
  display: block;
  cursor: pointer;
}
.subTopBarContainer .navOptionText {
  margin: 13px 5px 0px 5px;
  display: block;
  cursor: pointer;
}
.navDivSelected {
  height: 54px;
  margin-top: 28px;
}
.subTopBarContainer .navDivSelected {
  height: 40px;
  margin-top: 0px;
}
.navTextSelected {
  margin-top: 16px;
  text-decoration: underline;
}
.subTopBarContainer .navTextSelected {
  text-decoration: underline;
  margin-top: 13px;
}
.titleText {
  font-size: 30px;
  text-decoration: underline;
  margin: 30px 0px 10px 30px;
}
.bodyText {
  margin-left: 30px;
}
.tableHead {
  float: left;
  height: 45px;
  width: 1180px;
  cursor: pointer;
}
.tableBody {
  float: left;
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
}
.newDealershipRow {
  float: left;
}
.notesRow {
  width: 100%;
  min-height: 40px;
  float: left;
  background-color: #E7E7E7;
}
.titleRowElement {
  float: left;
  font-weight: bold;
  height: 100%;
  border-bottom: solid 1px black;
  padding-top: 10px;
  font-size: 12px;
}
.innerRow {
  float: left;
  width: 95%;
  cursor: pointer;
  margin-left: 5%;
  min-height: 30px;
}
.odd {
  background-color: #F5F5F5;
}
.row {
  float: left;
  min-height: 30px;
  width: 100%;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
}
.rowElement {
  float: left;
  min-height: 30px;
}
.rowText {
  margin-top: 5px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: inherit;
  font-size: 12px;
}
.tableText {
  font-weight: bold;
}
.specificSalesmanReportsTable {
  width: 100%;
  float: left;
}
.dealershipReportsTable {
  float: left;
  width: 100%;
}
.removeButton {
  float: left;
}
.newReport,
.newReportLegend {
  border: 1px solid black;
  width: 49%;
  float: left;
  min-height: 160px;
}
.tableLoadingGif {
  width: 20px;
}
.newStockNumberModal {
  width: 500px;
  height: 535px;
  position: absolute;
  background-color: #f3f3f3;
  margin-left: 350px;
}
.newStockNumberModal .title {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}
.newStockNumberModal .multipleTextArea {
  height: 400px;
  width: 450px;
  margin-left: 25px;
}
.newStockNumberModal .multipleSubmit {
  margin-left: 205px;
}
.newStockNumberModal .singleInput {
  margin-left: 25px;
  margin-top: 2px;
  margin-right: 10px;
}
.tableHead {
  float: left;
  height: 45px;
  width: 1180px;
  cursor: pointer;
}
.tableBody {
  float: left;
  min-height: 100px;
}
.newDealershipRow {
  float: left;
}
.notesRow {
  width: 100%;
  min-height: 40px;
  float: left;
  background-color: #E7E7E7;
}
.titleRowElement {
  float: left;
  font-weight: bold;
  height: 100%;
  border-bottom: solid 1px black;
  padding-top: 10px;
  font-size: 12px;
}
.innerRow {
  float: left;
  width: 95%;
  cursor: pointer;
  margin-left: 5%;
  min-height: 30px;
}
.odd {
  background-color: #F5F5F5;
}
.row {
  float: left;
  min-height: 30px;
  width: 100%;
  cursor: pointer;
}
.rowElement {
  float: left;
  min-height: 30px;
}
.rowText {
  margin-top: 5px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: inherit;
  font-size: 12px;
}
.tableText {
  font-weight: bold;
}
