<div class="container">
	<div class="jumbotron">
		<h1>Salesman Buddy</h1>
		<p>
			We enable car dealerships to sell more cars by tracking key activities for selling cars, such as: 
				<ul>
					<li>Tracking which cars are being test driven.</li>
					<li>Showing how many test drives per sale a car salesman makes.</li>
					<li>Showing management which salesmen have a high customer burn rate.</li>
					<li>Showing which cars are being test driven a lot but not being sold.</li>
					<li>Showing which cars haven't been test driven in a long time.</li>
				</ul>
		</p>
		<p>
			If you have car salesmen teams we can help your teams compete by:
				<ul>
					<li>Giving summary reports to each crew chief about team performance daily, weekly, and monthly</li>
					<li>Giving summary reports to each team member about their individual and team performance daily, weekly, and monthly</li>
					<li>At the end of the month in a sales meeting Salesman Buddy awards the best team with gift certificates, promoting competition and excelence among your sales teams</li>
				</ul>
		</p>
		<p>
			The Salesman Buddy process:
			<ol>
				<li>Salesmen <a href="#/how">record test drives</a> in our mobile app.</li>
				<li>The salesman's manager instantly gets an email saying which car was test driven by which salesman.</li>
				<li>At the end of the day a summary email gets sent to the manager.</li>
				<li>In the sales meeting the next day the manager can follow up with the salesman to see what is going on with that customer: Did they buy? Why or why not? What follow up has the salesman done? This helps managers know which salesmen are burning customers.</li>
				<li>We send summary reports for cars that have been test driven a lot but haven't sold. Why hasn't it sold? Does it squeek or smell bad? Cost too much? This brings possible flaws of the car to management's attention.</li>
				<li>Our reports also show which cars are hot by showing which cars have multiple people test driving in them in a short period. For used car dealers this helps your car buyer know which types of cars to buy more of.</li>
			</ol>
		</p>
		<p>
			How do salesmen record test drives in our app? The car salesman takes a picture of the test driver's license, inputs contact info for following up with the test driver, inputs the car's stock number, and answers insurance questions to resolve the dealership of liability if damage is caused during the test drive.
		</p>
		<p>
			Every month Salesman Buddy presents the best salesman at your dealership with a gift certificate, promoting competition and excelence among your salesmen.
			
		</p>
		<!-- <p>
			<ol>
				<li>Gather liablilty information from test drivers through smart phones</li>
				<li>Store the information on our secure server</li>
				<li>Delete the information after the legal time limit</li>
				<li>Gather analytics about your test drivers and salesmen</li>
			</ol>
		</p>
		<p>
			This allows the car salesmen to stay with the test driver in the lot instead of running inside to make a photocopy and keeps the dealership from being liable for damages incurred during a test drive.
		</p> -->
		<p>
		If you are interested in learning more or keeping informed about our product, you can contact us at support@salesmanbuddy.com.
		</p>
		<p> To help us create a better product please take <a href="https://byu.qualtrics.com/SE/?SID=SV_a3pH3LBC6kqx2qV">this</a> survey.
		</p>
	</div>
</div>