<div id="allUsers" class="content">
	<div ng-show="loading">
		<!-- <img class="loadingGif" src="assets/ajax-loader.gif"> -->loading gif
		<div style="margin-left:500px; padding-top:40px;"></div>
	</div>
	<div ng-hide="loading" class="tableHead">
		<div class="titleRowElement" ng-repeat="column in getColumnsForColumnType('main')">
			<div class="tableText" ng-style="getAdjustedColumnWidth(column.desiredWidth, getColumnsForColumnType('main'), 1160)">
				{{column.name}}
			</div>
		</div>
	</div>
	<div ng-hide="loading" class="tableBody">
		<div class="row" ng-repeat="user in users | limitTo:500" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="showDetails(user)">
			<div class="rowElement" ng-repeat="column in getColumnsForColumnType('main')" ng-style="getAdjustedColumnWidth(column.desiredWidth, getColumnsForColumnType('main'), 1160)">
				<div class="rowText" ng-show="column.type == ''">{{user[column.realColumnName]}}</div>
				<div class="rowText" ng-show="column.type == 'date'">{{user[column.realColumnName] | date}}</div>
				<div class="rowText" ng-show="column.type == 'bool'">{{user[column.realColumnName]}}</div>
			</div>
			<select class="changeUserType" ng-model="user.type" ng-options="type as type for type in types" ng-change="changeUserToType($index, user.type)"></select>
			<!-- <div ng-show="user.showDetails">
				<div class="subTitleRow">
					<div class="subTitleRowElement" ng-repeat="column in getColumnsForColumnType('details')" ng-show="column.desiredWidth != 0">
						<div class="assessmentTitleRowText" ng-style="{width:''+getAdjustedColumnWidth(column.desiredWidthInPixels, getColumnsForColumnType('assessment'), 1080)+'px'}">{{column.name}}</div>
					</div>
				</div>
				<div class="stackTraceRow" ng-repeat="stackTrace in error.shownStackTraces" ng-class-odd="'odd'" ng-class-even="'even'">
					{{stackTrace}}
				</div>
			</div> -->
		</div>
	</div>
</div>