<div ng-include="'templates/noRights.html'"></div>
<div ng-include="'templates/loading.html'"></div>
<div id="allUsers" class="content" ng-show="view == 'main'">
	<input type="text" ng-model="search" placeholder="Search">
	<div class="tableHead">
		<div class="titleRowElement" ng-repeat="column in getColumnsForColumnType('main')">
			<div class="tableText" ng-style="getAdjustedColumnWidth(column.desiredWidth, getColumnsForColumnType('main'), 1160)">
				{{column.name}}
			</div>
		</div>
	</div>
	<div class="tableBody">
		<div class="row" ng-repeat="user in users | limitTo:500 | filter:search" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="showDetails(user)">
			<div class="rowElement" ng-repeat="column in getColumnsForColumnType('main')" ng-style="getAdjustedColumnWidth(column.desiredWidth, getColumnsForColumnType('main'), 1160)">
				<div class="rowText" ng-show="column.type == ''">{{user[column.realColumnName]}}</div>
				<div class="rowText" ng-show="column.type == 'date'">{{user[column.realColumnName] | date}}</div>
				<div class="rowText" ng-show="column.type == 'bool'">{{user[column.realColumnName]}}</div>
				<div class="rowText" ng-show="column.type == 'select'">
					<select class="changeUserType" ng-model="user[column.realColumnName]" ng-options="option as option for option in column.options" ng-change="column.ngChange($parent.$index, user[column.realColumnName])"></select>
				</div>
			</div>
			
			<!-- <div ng-show="user.showDetails">
				<div class="subTitleRow">
					<div class="subTitleRowElement" ng-repeat="column in getColumnsForColumnType('details')" ng-show="column.desiredWidth != 0">
						<div class="assessmentTitleRowText" ng-style="{width:''+getAdjustedColumnWidth(column.desiredWidthInPixels, getColumnsForColumnType('assessment'), 1080)+'px'}">{{column.name}}</div>
					</div>
				</div>
				<div class="stackTraceRow" ng-repeat="stackTrace in error.shownStackTraces" ng-class-odd="'odd'" ng-class-even="'even'">
					{{stackTrace}}
				</div>
			</div> -->
		</div>
	</div>
</div>