<div class="container">
	<div class="jumbotron">
		<h1>Salesman Buddy</h1>
		<p>
			Car dealerships in Utah have to gather and store information about their test drivers for legal liability reasons.
			This process and it's management takes time and effort. Our product will enable you to...
			
		</p>
		<p>
			<ol>
				<li>Gather liablilty information from test drivers through smart phones</li>
				<li>Store the information on our secure server</li>
				<li>Delete the information after the legal time limit</li>
				<li>Gather analytics about your test drivers and salesmen</li>
			</ol>
		</p>
		<p>
			This allows the car salesmen to stay with the test driver in the lot instead of running inside to make a photocopy and keeps the dealership from being liable for damages incurred during a test drive.
		</p>
		<p>
		If you are interested in learning more or keeping informed about our product, you can contact us at support@salesmanbuddy.com.
		</p>
		<p> To help us create a better product please take <a href="https://byu.qualtrics.com/SE/?SID=SV_a3pH3LBC6kqx2qV">this</a> survey.
		</p>
	</div>
</div>


<!--<div id="comingSoon" class="content">
    {{message}}
</div>-->
