<!doctype html>
<html lang="en" ng-app="SALESMANBUDDYADMIN">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Salesman Buddy Admin</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/comingSoon.css">
	<link rel="stylesheet" href="css/allUsers.css">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/licensesList.css">
	<link rel="stylesheet" href="css/dealershipManager.css">
	<link rel="stylesheet" href="css/help.css">
	<link rel="stylesheet" href="css/how.css">
	<link rel="sytlesheet" href="css/tables.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>

<body ng-cloak>
	<div class="topBarCompanyName">
		<div class="companyName">SalesmanBuddy.com</div>
		<div ng-show="user" class="logOutContainer">
			<div class="userName">{{user.google.name}}</div>
			<div class="logOut" ng-click="logout()">Logout</div>
		</div>
	</div>
	<div class="topBarContainer">
		<div class="topBar" ng-hide="isPath('comingSoon')">
			<div class="navOption" ng-click="goToPage('home')" ng-class="isSelected('home', true)"><div class="navOptionText" ng-class="isSelected('home')">Home</div></div>
			<div class="navOption" ng-click="goToPage('how')" ng-class="isSelected('how', true)"><div class="navOptionText" ng-class="isSelected('how')">How</div></div>
			<div class="navOption" ng-click="goToPage('pricing')" ng-class="isSelected('pricing', true)"><div class="navOptionText" ng-class="isSelected('pricing')">Pricing</div></div>
			<div class="navOption" ng-click="goToPage('licensesList')" ng-show="doesUserHaveAccessTo('salesman')" ng-class="isSelected('licensesList', true)"><div class="navOptionText" ng-class="isSelected('licensesList')">Licences List</div></div>
			<div class="navOption" ng-click="goToPage('allUsers')" ng-show="doesUserHaveAccessTo('sbUser')" ng-class="isSelected('allUsers', true)"><div class="navOptionText" ng-class="isSelected('allUsers')">All Users</div></div>
			<div class="navOption" ng-click="goToPage('dealershipManager')" ng-show="doesUserHaveAccessTo('sbUser')" ng-class="isSelected('dealershipManager', true)"><div class="navOptionText" ng-class="isSelected('dealershipManager')">Dealership Manager</div></div>
			<div class="navOption" ng-click="goToPage('reportsManager')" ng-show="doesUserHaveAccessTo('manager')" ng-class="isSelected('reportsManager', true)"><div class="navOptionText" ng-class="isSelected('reportsManager')">Reports Manager</div></div>
			<div class="navOption" ng-click="goToPage('faq')" ng-class="isSelected('faq', true)"><div class="navOptionText" ng-class="isSelected('faq')">FAQ</div></div>
			<div class="navOption" ng-click="goToPage('contactUs')" ng-class="isSelected('contactUs', true)"><div class="navOptionText" ng-class="isSelected('contactUs')">Contact Us</div></div>
			
		</div>
	</div>
	<div ng-view class="viewBox"></div>
</body>
	<script src="lib/angular.js"></script>
	<script src="lib/angular-route.min.js"></script>
	<script src="src/app/auth.js"></script>
	<script src="src/app/app.js"></script>
	<script src="src/controllers/comingSoonCtrl.js"></script>
	<script src="src/controllers/allUsersCtrl.js"></script>
	<script src="src/controllers/homeCtrl.js"></script>
	<script src="src/controllers/licensesListCtrl.js"></script>
	<script src="src/controllers/dealershipManagerCtrl.js"></script>
	<script src="src/controllers/newUserCtrl.js"></script>
	<script src="src/controllers/helpCtrl.js"></script>
	<script src="src/controllers/contactUsCtrl.js"></script>
	<script src="src/controllers/loggedOutCtrl.js"></script>
	<script src="src/controllers/reportsManagerCtrl.js"></script>
</html>
