<!doctype html>
<html lang="en" ng-app="SALESMANBUDDYADMIN">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Salesman Buddy Admin</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Our CSS -->
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/comingSoon.css">
	<link rel="stylesheet" href="css/allUsers.css">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/licensesList.css">
	<link rel="stylesheet" href="css/dealershipManager.css">
	<link rel="stylesheet" href="css/help.css">
	<link rel="stylesheet" href="css/how.css">
	<link rel="sytlesheet" href="css/tables.css">
	
</head>

<body ng-cloak>
	<div class="topBarCompanyName">
		<div class="companyName">SalesmanBuddy.com</div>
		<div class="logOutContainer">
			<div class="userName" ng-show="user">{{user.google.name}}</div>
			<a class="userName" ng-hide="user" href="#/testDrives">Login</a>
			<div class="logOut" ng-show="user" ng-click="logout()">Logout</div>
		</div>
	</div>
	<div class="topBarContainer">
		<div class="topBar" ng-hide="isPath('/comingSoon')">
			<div ng-repeat="tab in tabs.main">
				<div class="navOption" ng-click="goToPage(tab.path)" ng-class="isSelected(tab.specificPath || tab.path, true)" ng-show="doesUserHaveAccessTo(tab.auth, tab.strictAuth)">
					<div class="navOptionText" ng-class="isSelected(tab.specificPath || tab.path)" ng-bind="tab.name"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="subTopBarContainer" ng-show="isPath('/manager')">
		<div ng-repeat="tab in tabs.manager">
			<div class="subNavOption" ng-click="goToPage(tab.path)" ng-class="isSelected(tab.specificPath || tab.path)" ng-show="doesUserHaveAccessTo(tab.auth, tab.strictAuth)">
				<div class="navOptionText" ng-class="isSelected(tab.specificPath || tab.path)" ng-bind="tab.name"></div>
			</div>
		</div>
	</div>
	<div class="subTopBarContainer" ng-show="isPath('/sbAdmin')">
		<div ng-repeat="tab in tabs.sbUser" ng-show="doesUserHaveAccessTo(tab.auth, tab.strictAuth)">
			<div class="subNavOption" ng-click="goToPage(tab.path)" ng-class="isSelected(tab.specificPath || tab.path, true)">
				<div class="navOptionText" ng-class="isSelected(tab.specificPath || tab.path)" ng-bind="tab.name"></div>
			</div>
		</div>
	</div>
	<div style="clear:left"></div>
	<div ng-view class="viewBox"></div>
</body>
	<script src="lib/angular.js"></script>
	<script src="lib/angular-route.min.js"></script>
	<script src="src/app/auth.js"></script>
	<script src="src/app/app.js"></script>
	<script src="src/controllers/comingSoonCtrl.js"></script>
	<script src="src/controllers/allUsersCtrl.js"></script>
	<script src="src/controllers/homeCtrl.js"></script>
	<script src="src/controllers/licensesListCtrl.js"></script>
	<script src="src/controllers/dealershipsCtrl.js"></script>
	<script src="src/controllers/stockNumbersCtrl.js"></script>
	<script src="src/controllers/newUserCtrl.js"></script>
	<script src="src/controllers/helpCtrl.js"></script>
	<script src="src/controllers/contactUsCtrl.js"></script>
	<script src="src/controllers/loggedOutCtrl.js"></script>
	<script src="src/controllers/reportsManagerCtrl.js"></script>
</html>
