<div class="howContainer">
	<div class="titleText">How?</div>
	<div class="bodyText">
		<p>
			This important data for your dealership is collected by your salesmen through their smart phones when a customer goes for a test drive. Our app is supported on <a href="">Apple</a>, <a href="">Android</a>, and <a href="">Windows Phone</a> mobile devices that have cameras.
		</p>
		<p>
			The Salesman Buddy process:
			<ol>
				<li>Your Salesman opens our app</li>
				<li>Takes a picture of the test driver's license</li>
				<li>Inputs contact information of the customer for following up later</li>
				<li>Inputs the car's stock number</li>
				<li>Inputs answers for insurance questions releasing the dealership from liability if damage is incurred during the test drive by the customer</li>
			</ol>
			Thats it!
		</p>
	</div>
	<div class="titleText">Why?</div>
	<div class="bodyText">
		<p>
			This data is collected and sent to your crew chiefs and managers allowing them to know exacly what is going on with their salesmen and cars. We can report:
			<ul>
				<li>Which cars were test driven during the day and by which salesman</li>
				<li>Each salesman's ratio of test drives to actual sales, showing which salesmen are more effective and which salesmen burn more customers</li>
				<li>Daily summaries sent to your managers about their salesmen. In daily sales meeting these can be reviewed to help salesmen follow up with their customers, recieve constructive criticism, and sell more cars</li>
				<li>Which cars have been on a lot of test drives but not sold or not been on test drives in a long time, possibly indicating there is something wrong with the car</li>
				<li>Which cars are most popular, allowing your buyers to buy more of the same from auctions</li>
			</ul>
		</p>
	</div>
</div>