#loading{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.viewBox{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background: white;
}

.topBarContainer{
	background: rgb(0, 102, 153);
	height: 81px;
	width: 100%;
	border-bottom: solid rgb(219, 205, 161) 1px;
	min-width: 1200px;
}

.topBarCompanyName{
	color: white;
	text-align: center;
	font-size: 40px;
	height: 30px;
	padding-top: 10px;
	background: rgb(0, 102, 153);
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

.companyName{
	color:white;
}

.topBar{
	height: 80px;
	width: 1200px;
	background: rgb(0, 102, 153);
	margin-left: auto;
	margin-right: auto;
}

.logOutContainer {
	position: absolute;
	top: 20px;
	right:180px;
}

.userName, .logOut {
	margin-right: 00px;
	color: rgb(255, 255, 255);
	font-family: Arial;
	font-size: 14px;
	display: block;
	height: 20px;
	width: 260px;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.logOutContainer .logOut {
	cursor: pointer;
}

.navOption{
	background-color: white;
	cursor: pointer;
	height: 40px;
	float: left;
	min-width: 100px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	margin: 42px 10px 0px 10px;
}

.navOptionText{
	margin: 8px 5px 0px 5px;
	display:block;
	cursor: pointer;
}

.navDivSelected{
	height: 54px;
	margin-top: 28px;
}

.navTextSelected{
	margin-top: 16px;
	text-decoration: underline;;
}

.titleText{
	font-size: 30px;
	text-decoration: underline;
	margin: 30px 0px 10px 30px;
}

.bodyText{
	margin-left: 30px;
}













.content{

}

.tableHead {
	float: left;
	height: 45px;
	width: 1180px;
	cursor: pointer;
}

.tableBody{
	float:left;
	min-height: 100px;
}

.newDealershipRow{
	float:left;
}

.subTitleRow{

}

.subTitleRowElement{

}

.notesRow{
	width: 100%;
	min-height: 40px;
	float: left;
	background-color: #E7E7E7;
}
.titleRowElement {
	float: left;
	font-weight: bold;
	height: 100%;
	border-bottom: solid 1px black;
	padding-top: 10px;
	font-size: 12px;
}

.innerRow {
	float: left;
	width: 95%;
	cursor: pointer;
	margin-left: 5%;
	min-height: 30px;
}

.odd {
	background-color: #F5F5F5;
}

.appNameSelect{

}

.row{
	float: left;
	min-height: 30px;
	width: 100%;
	cursor: pointer;
}

.rowElement{
	float: left;
	min-height: 30px;
}

.rowText{
	margin-top: 5px;
	margin-bottom: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: inherit;
	font-size: 12px;
}

.tableText{
	font-weight: bold;
}







